<header class="flexbox-container">
  <nav>
    <ul class="flexbox-container">
      <li>
        <a <% if (locals.isAdmin) { %>
          href="/admin/menu" <% } else { %> href="/menu" <% } %>>Menu</a
        >
      </li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  <h1>
    <a href="/" id="main-title">Chef Bautista D'Arconso</a>
  </h1>
  <nav>
    <ul class="flexbox-container">
      <li>
        <a <% if (locals.isAdmin) { %>
          href="/admin/orders" <% } else if (locals.isAuth) { %>
          href="/customer/orders" <% } else { %> href="/orders" <% } %>><img
            src="/img/cart-icon.png"
            alt="cart"
        /></a>
      </li>

      <li>
        <a <% if (locals.isAdmin) { %>
          href="/admin/account" <% } else if (locals.isAuth) { %>
          href="/customer/account" <% } else { %> href="/auth" <% } %>>
          <img src="/img/login-icon.png" alt="login-icon"
        /></a>
      </li>
      <% if (locals.isAuth) { %>
      <li>
        <form action="/logout" method="POST">
          <button class="neutral-button">
            <img src="/img/log-out.png" alt="log-out-icon" />
          </button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
