<header>
  <nav class="flexbox-container">
    <a href="/menu">Menu</a>
    <a href="/about">About</a>
  </nav>
  <h1>
    <a href="/" id="main-title">Chef Bautista D'Arconso</a>
  </h1>
  <nav class="flexbox-container">
    <a href="/customer/orders"><img src="/img/cart-icon.png" alt="cart" /></a>
    <a href="/auth"><img src="/img/login-icon.png" alt="login-icon" /></a>
    <% if (locals.isAuth) { %>
    <a><img src="/img/log-out.png" alt="log-out-icon" /></a>
    <% } %>
  </nav>
</header>
