<header>
  <div class="flexbox-container">
    <div>
      <a href="/" id="main-title"><img src="img/logo.png" alt="logo" /></a>
    </div>
    <ul class="side-icons">
        <% if (locals.isAdmin) { %>
         <a href="/admin/menu" class="btn alt"> Manage Menu </a> <% } else { %> <a href="/menu"  class="btn alt" >Check our Menu!</a><% } %>
     <li>
        <a 
          <% if (locals.isAdmin) { %>
            href="/admin/orders"
          <% } else { %>
            href="/cart"
          <% } %>>
          <% if (locals.cart.totalPrice !== 0 && !locals.isAdmin) { %>
            <i class="bi bi-bag-fill"></i>
          <% } else { %>
            <i class="bi bi-bag"></i>
          <% } %>
        </a>
      </li>
      <li>
        <a <% if (locals.isAdmin) { %>
          href="/admin/config" <% } else if (locals.isAuth) { %> href="/orders"
          <% } else { %> href="/auth" <% } %>>
          <i class="bi bi-person-circle"></i></a>
      </li>
      <% if (locals.isAuth) { %>
      <li id="log-out">
        <form action="/logout" method="POST">
          <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
          <button>
              <i class="bi bi-box-arrow-right"></i>
          </button>
        </form>
        </li>
        <% } %>

      <div id="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </ul>
  </div>
  <nav id="side-nav">
    <ul>
      <li><a>About </a></li>
      <li><a>Services </a></li>
      <li><a>Orders </a></li>
      <li><a>Account </a></li>
    </ul>
  </nav>
</header>

