<header class="flexbox-container">
  <nav>
    <ul class="flexbox-container">
      <li>
        <a <% if (locals.isAdmin) { %>
          href="/admin/menu" <% } else { %> href="/menu" <% } %>>Menu</a
        >
      </li>

      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  <h1>
    <a href="/" id="main-title"
      ><%=locals.configData ? locals.configData.webname : `Chef Bautista
      D'Arconso`%></a
    >
  </h1>
  <nav>
    <ul class="flexbox-container">
      <li>
        <img src="" alt="" />
        <a <% if (locals.isAdmin) { %>
          href="/admin/orders" <% } else { %> href="/cart" <% } %>> <%
          if(locals.cart.totalPrice !== 0 && !locals.isAdmin ) { %>
          <img
            crossorigin="anonymous"
            id="cart-header-img"
            src="https://res.cloudinary.com/dfupfbnez/image/upload/v1683448568/ingrid-chef-webpage/icons/icons8-shopping-cart-24_2_layoi5.png"
            alt="cart"
          />
          <% } else { %>
          <img
            crossorigin="anonymous"
            src="https://res.cloudinary.com/dfupfbnez/image/upload/v1683448568/ingrid-chef-webpage/icons/icons8-shopping-cart-24_2_layoi5.png"
            alt="cart"
          />
          <% } %>
        </a>
      </li>

      <li>
        <a <% if (locals.isAdmin) { %>
          href="/admin/config" <% } else if (locals.isAuth) { %> href="/orders"
          <% } else { %> href="/auth" <% } %>>
          <img
            crossorigin="anonymous"
            src="https://res.cloudinary.com/dfupfbnez/image/upload/v1683448180/ingrid-chef-webpage/icons/icons8-user-24_zezo1w.png"
            alt="login-icon"
        /></a>
      </li>

      <% if (locals.isAuth) { %>
      <li>
        <form action="/logout" method="POST">
          <button class="neutral-button">
            <img src="/img/log-out.png" alt="log-out-icon" />
          </button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
