main p,
main h2 {
  text-align: center;
}
main p {
  margin: 0 5%;
}

main section {
  max-width: 70%;
  margin: 0.5rem auto;
  background-color: var(--color-backgroundtext);
  border-radius: 30px;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}

form label,
form button {
  display: block;
}

form input {
  margin-top: 0.2rem;
  height: 2rem;
  width: 70%;
}

.button-alt {
  margin: 1rem auto;
}

span {
  text-decoration: underline 0.5px;
}

#signup-form,
#login-form {
  display: none;
}
