<nav class="sort-nav">
          <ul class="flexbox-container">
            <li <% if(page === "active"){ %> class="highligthed" <%}%>><a href="/orders/active">Active Orders</a></li>
            <li <% if(page === "inactive"){ %> class="highligthed" <%}%>><a href="/orders/inactive">Archived Orders</a></li>
            <li <% if(page === "fullfilled"){ %> class="highligthed" <%}%>><a href="/orders/fullfilled">Comments</a></li>
          </ul>
          <hr>
    </nav>