<header>
  <nav class="flexbox-container">
    <a href="">Menu</a>
    <a href="">About</a>
  </nav>
  <h1>
    <a href="/views/index.html" id="main-title">Chef Bautista D'Arconso</a>
  </h1>
  <nav class="flexbox-container">
    <a href="">Contact</a>
    <a href="">Login</a>
  </nav>
</header>
