<%- include('./includes/head', {pageTitle: 'About'}) %>
<link rel="stylesheet" href="/css/about.css" />
</head>
<body>
    <%- include('./includes/header') %>
<main id="about-section">
    <div>
      <div>
       <h3>ABOUT ME</h3>
          <p>Bautista D'Arconso comenzó su carrera como aprendiz en la cocina de un restaurante local en Argentina a la edad de 16 años. Después de completar su formación culinaria en su ciudad natal, decidió ampliar sus horizontes y viajó a Europa para perfeccionar su arte culinario. Allí, trabajó en algunos de los mejores restaurantes, incluyendo "La Tour d'Argent" en París y "El Bulli" en España.</p>     
          <p>Después de varios años en Europa, Bautista regresó a Argentina y abrió su propio restaurante, que rápidamente se convirtió en uno de los más populares del país. Fue entonces cuando comenzó a recibir invitaciones para presentarse en programas de televisión y para dar charlas sobre gastronomía. Actualmente, es uno de los chefs más reconocidos de América Latina y ha sido honrado con numerosos premios a lo largo de su carrera.</p>
      <div>
        <h3>Experiencia profesional</h3>
        <ul>
          <li>Aprendiz de cocina en un restaurante local (Argentina)</li>
          <li>Formación culinaria (Argentina)</li>
          <li>Trabajó en "La Tour d'Argent" (París)</li>
          <li>Trabajó en "El Bulli" (España)</li>
          <li>Abrió su propio restaurante (Argentina)</li>
          <li>Invitado en programas de televisión</li>
          <li>Orador sobre gastronomía</li>
          <li>Uno de los chefs más reconocidos de América Latina</li>
        </ul>
      </div>
    </div>
</main>
<%- include('./includes/footer') %>

