<%- include('./includes/head', {pageTitle: 'Authentication'}) %>
<link rel="stylesheet" href="./css/auth.css" />
<script src="./scripts/auth.js" defer></script>
</head>
<body>
    <%- include('./includes/header') %>
<main>
    <p>If you dont have an account, please click to <span id="signup-span">Create new Account</span> button. If you already have an existing account, please click the <span id="login-span">Log in</span> one.</p>
        <section id="signup">
        <h2>Create new Account</h2>
        <form action="/signup" method="POST" id="signup-form">
            <p>
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" required>
            </p>
            <p>
               <label for="confirm-email">Confirm Email</label>
                <input type="email" name="confirm-email" id="confirm-email" required> 
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required minlength="8">
            </p>
            <p>
                <label for="confirm-password">Confirm Password</label>
                <input type="password" name="confirm-password" id="confirm-password" required minlength="8">
            </p>
            <h2>Personal Data</h2>
            <p>
                <label for="fullname">Full Name</label>
                <input type="text" name="fullname" id="fullname" placeholder="Josep Maximilian" required>
            </p>
            <p>
                <label for="phone">Contact Phone</label>
                <input type="tel" name="phone" id="phone" placeholder="+352 5263942315" required>
            </p>
            <p> 
                <label for="address">Address</label>
                <input type="text" name="street" id="street" placeholder="Street name and Number" required>
            </p>
            <p>
                <label for="PLZ">PLZ</label>
                <input type="number" name="postal" id="postal" placeholder="98554" minlength="5" maxlength="5" required>
            </p>
            <p>
                <label for="city">City</label>
                <input type="text" name="city" id="city" placeholder="Echternach" required>
            </p>
            <p> 
                <label for="country">Country</label>
                 <input type="text" name="country" id="contry" placeholder="Luxembourg" required>
            </p>            
            <button class="button-alt">Submit</button>
       </form>

       </section>
       <section id="login">
           <h2>Log in</h2>
           <form action="/login" method="GET" id="login-form">
                <p>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" required>
                </p>
                <p>
                    <label for="password">Password</label>
                    <input type="text" name="password" id="password" required>
                </p>            
                <button class="button-alt">Log in</button>
          </div>
        </form>
       </div>
    
</main>
<%- include('./includes/footer') %>
