<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="/public/css/index.css" />
  </head>
  <body>
    <header>
      <nav class="container-flexbox">
        <a href="">Menu</a>
        <a href="">About</a>
      </nav>
      <div><a href="/index.html">Chef Bautista D'Arconso</a></div>
      <nav class="container-flexbox">
        <a href="">Contact</a>
        <a href="">Login</a>
      </nav>
    </header>
    <main>
      <article>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos natus, odit
        praesentium maiores sint fuga totam consectetur deserunt officia
        recusandae facere earum voluptas et velit
        </div> 
        <img src="/img/chef-ejecutivo.jpg" alt="chef-photo" />
    </article>
      
    </main>
    <footer>
      <div>
        <nav class="container-flexbox">
          <a href="">Menu</a>
          <a href="">Contact</a>
          <a href="">Menu</a>
          <a href="">Legal declaration</a>
        </nav>
      </div>
    </footer>
  </body>
</html>
