<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public//css/shared.css">
    <link rel="stylesheet" href="/public/css/index.css" />

  </head>
  <body>
    <header>
      <nav class="flexbox-container">
        <a href="">Menu</a>
        <a href="">About</a>
      </nav>
      <h1>
        <a href="/views/index.html" id="main-title">Chef Bautista D'Arconso</a>
      </h1>
      <nav class="flexbox-container">
        <a href="">Contact</a>
        <a href="">Login</a>
      </nav>
    </header>
    <main>
      <section id="main-section">
        <div>
          <h2>
            Chef Bautista D'Arconso for an unforgetable authentic Spanish
            culinary experience.
          </h2>
          <a href="" class="button">Check the menu</a>
        </div>
        <img src="/img/chef-ejecutivo.jpg" alt="chef-photo" />
      </section>

      <section id="about-section">
        <div class="flexbox-container">
          <h3><a href="">ABOUT</a></h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            dolore quam at iste quidem eligendi et dolor magni officiis
            doloribus, quis culpa dolorem aliquid reiciendis dolores minima!
            Odio, non dolorum.
          </p>
        </div>
      </section>

      <section id="specialities-section">
        <div>
          <h3><a href="">SPECIALITIES</a></h3>
        </div>
        <div>
          <ul>
            <li class="flexbox-container">
              <img src="/img/paella.jpg" alt="paella" id="img-1" />
              <div>
                <h4>Private group up to 10 people</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </li>
            <li class="flexbox-container">
              <div>
                <h4>Exclusive secret recipes</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <img src="/img/croquetas.jpg" alt="croquetas" id="img-2" />
            </li>
            <li class="flexbox-container">
              <img src="/img/paella.jpg" alt="paella" id="img-1" />
              <div>
                <h4>Ask the chef directly via DMs</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section id="reviews-section">
        <div class="flexbox-container">
          <h3>REVIEWS</h3>
          <div>
            <h4>Dolores Maria</h4>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum
              dolore quam at iste quidem eligendi et dolor magni officiis
              doloribus.
            </p>
          </div>
        </div>
      </section>
      <section id="call-to-action">
        What are you waiting for! <a href="">Sign up</a> or
        <a href="">Log in</a> and make your first order!
      </section>
    </main>
    <footer>
      <h1>
        <a href="/views/index.html">Chef Bautista D'Arconso</a>
      </h1>
      <section>
        <address>
          <a
            target="_blank"
            href="https://www.google.com/maps/place/Eau+Claire,+Wisconsin,+EE.+UU./@44.8198582,-91.7607681,10z/data=!3m1!4b1!4m6!3m5!1s0x87f8bd155013d1b3:0x3d438beb43939375!8m2!3d44.811349!4d-91.4984941!16zL20vMDEzbndz"
          >
            <p>4735 Orphan Road</p>
            <p>Eau Claire</p>
            <p>Wisconsin</p>
          </a>
        </address>
        <div>
          <p><a href="tel:715-976-9942">715-976-9942</a></p>
          <p><a href="mailto:muster@muster.com">muster@muster.com</a></p>
        </div>
      </section>
      <div>
        <nav>
          <p><a href="">Menu</a></p>
          <p><a href="">My Account</a></p>
          <p><a href="">Facebook</a></p>
          <p><a href="">Instagram</a></p>
        </nav>
      </div>
    </footer>
  </body>
</html>
