<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/index.css" />
  </head>
  <body>
    <header>
      <nav class="flexbox-container">
        <a href="">Menu</a>
        <a href="">About</a>
      </nav>
      <div><a href="/views/index.html">Chef Bautista D'Arconso</a></div>
      <nav class="flexbox-container">
        <a href="">Contact</a>
        <a href="">Login</a>
      </nav>
    </header>
    <main>
      <section id="main-section">
        <div>
          <h2>
            Chef Bautista D'Arconso for an unforgetable authentic Spanish
            culinary experience.
          </h2>
          <a href="/" class="button">Check the menu</a>
        </div>
        <img src="/img/chef-ejecutivo.jpg" alt="chef-photo" />
      </section>

      <section id="about-section">
        <div class="flexbox-container">
          <h3>ABOUT</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            dolore quam at iste quidem eligendi et dolor magni officiis
            doloribus, quis culpa dolorem aliquid reiciendis dolores minima!
            Odio, non dolorum.
          </p>
        </div>
      </section>

      <section id="specialities-section">
        <div>
          <h3>SPECIALITIES</h3>
        </div>
        <div>
          <ul>
            <li class="flexbox-container">
              <img src="/img/paella.jpg" alt="paella" id="img-1" />
              <div>
                <h4>Private group up to 10 people</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </li>
            <li class="flexbox-container">
              <div>
                <h4>Exclusive secret recipes</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <img src="/img/croquetas.jpg" alt="croquetas" id="img-2" />
            </li>
            <li class="flexbox-container">
              <img src="/img/paella.jpg" alt="paella" id="img-1" />
              <div>
                <h4>Ask the chef directly via DMs</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>
    <footer>
      <div>
        <nav class="flexbox-container">
          <a href="">Menu</a>
          <a href="">Contact</a>
          <a href="">Menu</a>
          <a href="">Legal declaration</a>
        </nav>
      </div>
    </footer>
  </body>
</html>
