<%- include('./includes/head', {pageTitle: 'Orders'}) %>
</head>
<body>
    <%- include('./includes/header') %>
<main >
    <div>
      <div>
       <h3>ORDERS</h3>
          
      </div>
    </div>
</main>
<%- include('./includes/footer') %>
