/* Estilos para la página "About" */

/* Fuentes y colores */
html {
  --color-1: #563b25;
  --color-2: #a34d21;
  --color-3: #c8672c;
  --color-4: #d19b3c;
  --color-button: #ff8c00;
  --color-black: black;
  --color-white: white;
}

body {
  color: var(--color-1);
  margin: 0;
  background-color: #f5deb3;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.1rem;
  font-weight: bold;
}

/* Diseño */
header {
  z-index: 999;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5deb3;
}

header div a {
  display: block;
  text-align: center;
}

header nav,
footer nav {
  margin: auto 1rem;
  padding: 0 0.5rem;
  gap: 0.5rem;
}

header h1 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

main {
  margin: 0;
  margin-top: 11vh;
  max-width: 50rem;
}

main div {
  margin: 0 5%;
}

#about-section {
  text-align: justify;
  margin: 5% auto;
}

#about-section .flexbox-container {
  justify-content: space-between;
}

#about-section p {
  width: 70%;
  font-size: 1rem;
}
 
footer {
  margin: 0 5%;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer h1 a {
  display: block;
  font-size: 1.2rem;
}

footer p {
  margin: 0;
  padding: 0.2rem;
  font-size: 0.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  cursor: pointer;
}

/* Botones */
.button {
  color: var(--color-black);
  background-color: var(--color-button);
  margin: 0;
  padding: 0.3rem;
  border-radius: 3px;
}

/* Sección "Acerca de mí" */
#about-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

#about-section img {
  width: 30%;
  float: left;
  margin-right: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

#about-section .info-container {
  margin-top: 1rem;
  text-align: justify;
}

#about-section .info-container p {
  margin: 0;
  font-size: 1rem;
}

#about-section .flexbox-container {
  margin-top: 2rem;
}

#about-section .social-media a {
  font-size: 1.2rem
}