ul {
  padding: 0;
}

.cart-item {
  margin: 0.5rem auto;
}
.cart-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-info p {
  margin-bottom: 0;
}

input {
  width: 2rem;
  text-align: center;
  margin: 0.2rem 0.2rem;
}

.cart-item-info p {
  text-align: right;
  width: 45%;
}

#cart-total {
  font-size: 1.3rem;
}

#cart-total span {
  font-size: 1.1rem;
}

.disclaimer {
  text-align: center;
  margin: 1rem auto;
}

.disclaimer a {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.05rem;
}

#checkout {
  margin: 1rem auto;
  margin-bottom: 2rem;
}

.flexbox-container h3 a {
  background-color: var(--color-button-alt);
  padding: 0.5rem;
  border-radius: 30px;
}

h2 {
  text-align: center;
}


h3 {
  font-size: 1.7rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
}

.btn{
  margin-left: 0.5rem;
}
