ul {
  padding: 0;
}
.cart-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 4rem;
  text-align: center;
}

.cart-item-info p {
  text-align: right;
  width: 45%;
}

#disclaimer {
  text-align: center;
}

#disclaimer a {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.05rem;
}

.flexbox-container h3 a {
  background-color: var(--color-button-alt);
  padding: 0.5rem;
  border-radius: 30px;
}

h2{
  text-align: center;
}
