label {
  margin-top: 0;
}
input {
  margin-bottom: 1rem;
}

.button {
  font-weight: bold;
}

#pickup-section label span {
  font-style: italic;
}

#request-section {
  margin-bottom: 0.5rem;
}

#only-pickup h4 {
  margin: 0 auto 1rem auto;
}

#only-pickup p {
  font-size: 1.2rem;
}

#only-pickup a {
  display: block;
  margin-top: 0.3rem;
  font-size: 1.1rem;
  font-style: italic;
}

.flatpickr-calendar {
  position: absolute;
  display: block;
  left: 10%;
  max-width: 80%;
}

.flatpickr-calendar .flatpickr-disabled {
  color: red;
}

.check-a {
  color: green;
  font-size: 1.5rem;
  padding: 0.3rem;
}
