* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to top right, #4b2618, rgba(241, 142, 76, 0.61));
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header div a {
  display: block;
  text-align: center;
}

header nav,
footer nav {
  margin: auto 1rem;
  padding: 0 0.5rem;
  gap: 0.5rem;
}

main {
  margin: 0 1rem;
  margin-top: 10vh;
  max-width: 50rem;
}

#main-section {
  position: relative;
  height: 20vh;
}

#main-section div {
  font-size: 1rem;
  position: absolute;
  top: 10%;
  left: 5%;
  max-width: 70%;
  z-index: 1;
}

#main-section h2 {
  font-size: 1rem;
  margin-bottom: 0.5;
  color: white;
}

#main-section a {
  font-size: 0.5rem;
  max-width: 10%;
}

#main-section img {
  width: 40%;
  max-height: 110%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  left: 55%;
  border-radius: 30px;
}

footer {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  cursor: pointer;
}

.flexbox-container {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: orange;
  margin: 0;
  padding: 0.3rem;
  border-radius: 3px;
}
