section {
  margin: 1rem auto;
}

.order-management {
  margin-bottom: 0;
}

.buttom-h4 {
  margin: 1.5rem auto 1rem auto;
  padding: 0.3rem;
}

.cancel-button,
.confirm-cancel-button {
  width: 30%;
  height: 50%;
  margin: auto 0;
  margin-bottom: 1rem;
}

.cancel-button {
  background-color: transparent;
  border: 1px solid var(--color-button);
  color: var(--color-button);
}

.confirm-cancel-button {
  display: none;
  background-color: transparent;
  border: 1px solid var(--color-3);
  color: var(--color-3);
}

.message-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0;
}

.chef-messages {
  text-align: right;
}

.messages-hr {
  margin: auto 0;
}

.order-number {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
  cursor: pointer;
  font-style: italic;
}

.highlight-animation {
  animation: highlight 1.5s ease-in-out;
}
@keyframes highlight {
  0% {
    background-color: var(--color-background);
  }
  50% {
    background-color: var(--color-button);
  }
  100% {
    background-color: var(--color-background);
  }
}
