header {
  position: static;
}

#side-scroll-nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--color-background);
  overflow-x: auto;
}

#side-scroll-nav::-webkit-scrollbar {
  display: none;
}
.side-scroll {
  display: flex;
  padding: 0;
  margin: 0 3%;
}

.side-scroll li {
  padding: 1rem 0.5rem;
  display: inline-block;
  white-space: nowrap;
}