* {
  box-sizing: border-box;
}

html {
  font-family: 'Cormorant Garamond', serif;
  --color-1: #563b25;
  --color-2: #a34d21;
  --color-3: #c8672c;
  --color-4: #d19b3c;
  --color-button: #ff8c00;
  --color-black: black;
  --color-white: white;
  --color-backgroundtext: #fff8e7;
  --color-background: #f5deb3;
}

body {
  color: var(--color-1);
  margin: 0;
  background-color: var(--color-background);
  /* background: linear-gradient(
    to top right,
    #3d220b,
    #3d220b,
    #3d220b,
    #472a11,
    #a66a29
  ); */
}

header {
  z-index: 999;
  height: 9vh;
  width: 100vw;
  min-height: 70px;
  align-items: center;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f5deb3;
}

header nav {
  margin: 0 5%;
}
header nav ul {
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline-block;
  padding: 0.3rem;
}

header h1 {
  width: 20%;
}

footer nav {
  margin: auto 1rem;
  padding: 0 0.5rem;
  gap: 0.5rem;
}

header h1 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

main {
  margin: 0 5%;
  margin-top: 11vh;
  max-width: 50rem;
  min-height: 72.5vh;
  margin-bottom: 3rem;
}

footer {
  height: 11vh;
  margin: 0 5%;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer h1 a {
  display: block;
  font-size: 1.2rem;
}

footer p {
  margin: 0;
  padding: 0.2rem;
  font-size: 0.8rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.1rem;
  font-weight: bold;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  cursor: pointer;
}

.flexbox-container {
  display: flex;
  justify-content: space-between;
}

.button {
  color: var(--color-black);
  border: none;
  background-color: var(--color-button);
  margin: 0;
  padding: 0.3rem;
  border-radius: 3px;
}

.button-alt {
  color: var(--color-black);
  border: none;
  background-color: var(--color-background);
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0.3rem;
  border-radius: 3px;
}

input,
textarea {
  font: inherit;
  border-radius: 2px;
  border: 0.7px solid black;
}

button {
  font: inherit;
}

.neutral-button {
  background-color: var(--color-background);
  border: none;
  margin: inherit;
  padding: inherit;
}

.alert {
  background-color: var(--color-2);
  color: var(--color-white);
}
