header {
  position: absolute;
  top: 0;
}

main {
  margin-top: 6vh;
}

.sort-nav {
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  height: 3rem;
  z-index: 2;
}

.sort-nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 0.5rem;
}

.sort-nav li {
  padding: 0.5rem;
}

.sort-nav hr {
  margin-top: 0;
}
