<%- include('../../shared/head', {pageTitle: 'Manage Menu'}) %>

</head>
<body>
  <%- include('../../shared/header') %>
  <main>
      <h2>Menu Management</h2>
    <section>
        <p><a href="/admin/menu/new" class="button">Add new product</a></p>
    </section>
    <section>
        <p>A list of dishes...</p>
    </section>



  </main>
    <%- include('../../shared/footer') %>
