<%- include('../head', {pageTitle: 'Not found'}) %>
</head>
<body>
    <%- include('../header') %>
<main>
    <h2>403 Not Authorized</h2>
    <p>You do not have access to this resource. You are not authorized.</p> 
    <p><a href="/" class="button">Back to main page</a></p>   
</main>
<%- include('../footer') %>