<%- include('../head', {pageTitle: 'Not found'}) %>
</head>
<body>
    <%- include('../header') %>
<main>
    <h2>404 Not Found</h2>
    <p>The requested URL was not found on this server.</p> 
    <p><a href="/" class="button">Back to main page</a></p>   
</main>
<%- include('../footer') %>