<%- include('../head', {pageTitle: '500 error'}) %>
</head>
<body>
    <%- include('../header') %>
<main>
    <h2>500 Internal Server Error</h2>
    <p>The server encountered an unexpected condition that prevented it from fulfilling the request.</p> 
    <p><a href="/" class="button">Back to main page</a></p>   
</main>
<%- include('../footer') %>