<section>
       <form action="/admin/holidays" method="POST">
      
      <h4>Holidays</h4>
      <p>
          <h5>Add a new holiday</h5>
          <label for="holidayFrom">Holidays from: </label>
          <input type="hidden" name="documentId" value="<%=schedule._id%>">
          <input type="date" id="holidayFrom" name = "holidayFrom" required>
        
           <label for="holidayTo">Holidays until: </label>
          <input type="date" id="holidayTo" name = "holidayTo" required>
        </p>
        <button>Submit holiday</button>
      
    </form>
    <% if (schedule && schedule.holidays){ %>
        <ul>
            <% for (const holiday of schedule.holidays) { %>
                <p>Holiday from: <%= holiday.holidayFrom %>, until <%= holiday.holidayTo %></p>
                <button data-holidayId ="<%= holiday.holidayId %>">Delete holiday</button>
    
            <% } %>
        </ul>
    <% } %>
     </section>