<nav class="sort-nav">
  <ul class="flexbox-container">
    <li><a href="/admin/<%=urlPath%>">Personal Information</a></li>
    <li><a href="/admin/<%=urlPath%>">Holidays</a></li>
    <li><a href="/admin/<%=urlPath%>">Misc</a></li>

  </ul>
  <hr />
</nav>
