<nav class="sort-nav">
  <ul class="flexbox-container">
    <li <% if(urlPath === 'config') { %> class='highligthed' <% } %>><a href="/admin/config">Web Configuration</a></li>
    <li <% if(urlPath === 'schedule') { %> class='highligthed' <% } %>><a href="/admin/schedule">Working Configuration</a></li>
    <li <% if(urlPath === 'account') { %> class='highligthed' <% } %>><a href="/admin/account">Account Data</a></li>
  </ul>
  <hr />
</nav>
