<nav class="sort-nav">
  <ul class="flexbox-container">
    <li <% if(urlPath === 'orders') { %> class='highligthed' <% } %></li><a href="/orders">Your orders</a></li>
    <li <% if(urlPath === 'account') { %> class='highligthed' <% } %>><a href="/customer/account">Account Data</a></li>
  </ul>
  <hr/>
</nav>
