<%- include("../../shared/head", {pageTitle: "Orders administration"}) %>
<link rel="stylesheet" href="/css/admin/orders.css" />
</head>
<body>
    <%- include("../../shared/header") %>
    <main >
       <h3 id="order">Order Administration</h3>
       <nav>
        <ul>
          <li></li>
        </ul>
      </nav>
       <ol>
        <% for (const order of orders) {%>
         <%- include('includes/order-item', {order:order})%>
         <% } %>
       </ol>
    </main>
<%- include("../../shared/footer") %>