<li>
  <article>
    <div>
      <h3>Overall info about the order</h3>
      <div>
        <h4>Order placed</h4>
        <p><%= order.deliveryDate %></p>
      </div>
      <div>
        <h4>Total amount</h4>
        <p>order.productData.totalPrice</p>
      </div>
    </div>
  </article>
</li>
