<%- include('../../shared/head', {pageTitle: 'Orders'}) %>
<body>
    <%- include('../../shared/header') %>
    <main >
        
       <h3>ADMIN ACCOUNT</h3>
          
      </div>
    </div>
</main>
<%- include('../../shared/footer') %>
