<%- include("../shared/head", {pageTitle: "Index"}) %>
  <link rel="stylesheet" href="/css/index.css">
  </head>

<body>
    <%- include("../shared/header") %>
<main>
  <section id="hero-section">
    <img crossorigin="anonymous" src="https://res.cloudinary.com/dfupfbnez/image/upload/v1683731316/ingrid-chef-webpage/paella-1-min_nuxq03.jpg" alt="paella">
    <div>
      <h1>
        Chef <span> Bautista D'Arconso </span> 
      </h1>
      <p>For an unforgetable authentic mediterranean culinary
        experience.</p>
      <p>Embark on a culinary journey to the sun-kissed shores of the Mediterranean and treat your taste buds to an extraordinary experience like no other.
      <a href="#services-section" class="btn smooth-scroll">Check our services</a>
      <a target="_blank" href="/about" class="btn alt">About me</a>
    </div>

  </section>
  
<section id="reviews-section">
      <h3>TESTIMONIES</h3>
      <div>
        <h4>Dolores Maria</h4>
        <p>
         Chef Ingrid is simply exceptional. Her mastery of Mediterranean cuisine is evident in every bite she creates. Her paellas are authentic masterpieces, and her specialization in Spanish and Italian cuisine showcases her culinary versatility.
        </p>
      </div>
  </section>

  <section id="services-section">
      <h3><a href="">MY SERVICES</a></h3>
    <div>
      <ul>
        <li id="service-1">
          <h4>Private chef for your favourite events</h4>
          <div>
            <img crossorigin="anonymous" src="https://res.cloudinary.com/dfupfbnez/image/upload/v1683735650/ingrid-chef-webpage/private-events-min_rtruvk.jpg" alt="private-event"  />
            <p>Ingrid offers a private chef service that caters to a range of events, including weddings, birthdays, and company meals. From intimate gatherings to large celebrations, she provides a personalized culinary experience that is tailored to your tastes and preferences.</p>
            <a target="_blank" href="" class="btn">I need you for my event</a>
          </div>
        </li>
        <li id="service-3">
          <h4>Chef-curated food delivered to you. </h4>
          <div>
            <img crossorigin="anonymous" src="https://res.cloudinary.com/dfupfbnez/image/upload/v1683740595/ingrid-chef-webpage/focaccia-min_ab6gq6.jpg" alt="private-event"  />
            <p>Indulge in a delightful culinary experience from the comfort of your own home with Ingrid's exclusive food delivery service. Experience the magic of having a skilled chef prepare and deliver exquisite, handcrafted meals right to your doorstep. </p>
          <a  href="/menu" class="btn">I want to eat some delicious food</a>
          </div>
        </li>
        <li id="service-2">
          <h4>Cooking Classes and Demonstrations</h4>
          <div>
            <img crossorigin="anonymous" src="https://res.cloudinary.com/dfupfbnez/image/upload/v1683736961/ingrid-chef-webpage/private-lessons-min_egslqg.jpg" alt="private-event"  />
            <p>Discover the art of culinary excellence with Ingrid's immersive cooking classes and captivating demonstrations. Unleash your inner chef as you learn the secrets of Mediterranean cuisine under her expert guidance. Elevate you and your friends culinary skills and embark on a flavorful journey that will leave you inspired and hungry for more.</p>
            <a target="_blank" href="" class="btn">I want to become a foodie</a>
          </div>
        </li>
        
      </ul>
    </div>
  </section>
  
  <section id="call-to-action">
   <p>
What are you waiting for! <span class="underline">Choose your desired service</span> and start enjoying the real Mediterranean food!
   </p> 
   <ol>
    <li><a href="/menu" class="btn alt">1. I want to order food</a></li>
    <li><a href="" class="btn alt">2. I need a Chef for my event</a></li>
    <li> <a href="" class="btn alt">3. I want to improve my cooking</a></li>
   </ol>
  </section>
  <hr>
</main>
<%- include("../shared/footer") %>
