<%- include("../shared/head", {pageTitle: "Menu"}) %>
  <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
  <%- include("../shared/header") %>
  <main>
   MENU
        </main>

<%- include("../shared/footer") %>
