<%- include('../shared/head', {pageTitle: 'Orders'}) %>
</head>
<body>
    <%- include('../shared/header') %>
<main >
    <div>
      <div>
       <h3>ORDERS</h3>
          
      </div>
    </div>
</main>
<%- include('../shared/footer') %>
