<form action="/login" method="POST" id="login-form">
  <p>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required />
  </p>
  <p>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />
  </p>
  <button class="button-alt">Log in</button>
</form>
