<%- include('../../shared/head', {pageTitle: 'Orders'}) %>
<link rel="stylesheet" href="/css/orders.css" />
</head>
<body>
    <%- include('../../shared/header') %>
    <main >
      <% if (!locals.isAuth) { %>
      <div id="notAuth">
      <p>You are not logged in, please click here to <a href="/auth"><span>Sign up or Log in</span></a>.</p>
      <div>
      <% } %>
      
       <h3>CUSTOMER ACCOUNT</h3>
          
      </div>
    </div>
</main>
<%- include('../../shared/footer') %>
